<!-- <div *ngIf="!user"><app-login (enterSucced)="updateUser()"></app-login></div> -->
<div *ngIf="user">
    <div *ngFor="let c of curses let i = index">
            <app-curse [curseData]=c [isRegister]=reg[i].r (Register)="updateRegister($event)"></app-curse>
            <button (click)="edit(c.id)">עריכה</button>
    </div>
    <p> קורסים שנרשמת אליהם:</p>
    <div *ngFor="let n of register">
        <p>{{n}}</p>
    </div>
    <button (click)=" cancelRegister() ">בטל הכל</button>
    <!-- <app-course-editing save="updateCurse($event)"></app-course-editing> -->
    <router-outlet save="updateCurse($event)"></router-outlet>
</div>