.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .job {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 80%;
    background-color: #f9f9f9;
  }
  